/* SECTION */
.gallery-section {
  padding: 80px 20px;
  background: linear-gradient(135deg, #0a58c5, #ffffff);
  text-align: center;
}

/* HEADER */
.gallery-logo {
  width: 220px;
  /* filter: hue-rotate(180deg) saturate(2); */
  margin-bottom: 10px;
  border: 3px solid white;
  border-bottom-left-radius: 70px;
  border-top-right-radius: 70px;
  background: black;
  box-shadow: 5px 5px 15px;
}

.gallery-header h2 {
  font-size: 42px;
  font-weight: 700;
  background: linear-gradient(90deg, #007bff, #00c6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
}

/* FILTER BUTTONS */
.gallery-filters {
  margin: 40px 0;
}

.gallery-filters button {
  margin: 8px;
  padding: 12px 25px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(10px);
  transition: 0.3s;
  font-weight: 500;
}

.gallery-filters button.active,
.gallery-filters button:hover {
  background: linear-gradient(90deg, #007bff, #00c6ff);
  color: white;
}

/* GRID */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

/* CARD */
.gallery-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.gallery-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  transition: 0.4s;
}

.gallery-card:hover img {
  transform: scale(1.1);
}

/* OVERLAY */
.gallery-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
  color: white;
  text-align: left;
}

/* MODAL */
.gallery-modal {
  display: none;
  position: fixed;
  z-index: 999;
  background: rgba(0,0,0,0.9);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.gallery-modal img {
  max-width: 90%;
  border-radius: 15px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* FOOTER */
.gallery-footer {
  margin-top: 80px;
  padding: 70px 20px;
  text-align: center;
  background: linear-gradient(135deg, #007bff, #00c6ff);
  color: white;
}

.gallery-footer h2 {
  font-size: 34px;
}

.gallery-footer button {
  margin-top: 15px;
  padding: 14px 30px;
  border-radius: 30px;
  border: none;
  background: white;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}